.home{ 
  min-height: 93vh;
  background: url("../../public/img/Home_Wallpaper.jpeg") ;
}

@media screen and (max-width:2000px){
  .home {
    background-size: 60% 93vh;
  }
}

@media screen and (max-width:990px) {
  .home {
    background-size: 100% 93vh;
  }
}
